# Terraform
terraform/.terraform/
terraform/*.tfstate
terraform/*.tfstate.backup
terraform/*.tfplan
terraform/terraform.tfvars

# Python
app/__pycache__/
app/*.pyc
app/venv/
app/.venv/

# Docker
docker-compose.override.yml

# Kubernetes
k8s/**/secrets.yaml

# Environment files
.env
.env.*
!.env.example
